<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <div class="col-sm-12">
                    {% if task.user is None %}
                    <a href="{% url 'first_page:assign_task' task.pk %}" class="btn btn-default">انجام می‌دم</a>
                    {% else %}
                    <p>
                        این کار توسط کاربر {{task.user.username}} در حال انجام است.
                    </p>
                    {% endif %}
                    <hr/>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">ساخته شده در {{task.deadline}}</div>
                <div class="col-sm-3">تومان {{task.price}}</div>
                <div class="col-sm-3">زمان باقی مانده {{ task.get_deadline }} روز</div>
                <div class="col-sm-12">
                    <br/>
                    توضیحات:
                    <br/>
                    {{task.details}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>
                شما با نام کاربری {{User.username}} به عنوان {% if User.profile.is_master %} کارگذار {% else %} کارمند {% endif %} وارد سیستم شده اید
            </p>
            <p style="text-align: center;">
                <a class="btn btn-default btn-block" href="{% url 'first_page:show_page' %}">صفحه‌ی اصلی</a>
                <a href="{% url 'first_page:signout' %}" class="btn btn-default btn-block">خروج</a>
            </p>
        </div>
    </div>
    <footer>
        <hr/>
        <span>درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
