<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>عنوان کار</th>
                    <th>ارزش کار</th>
                    <th>تخمین زمانی</th>
                    <th>صاحب کار</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>
                    {% for t in task %}
                        <tr>
                        <td>{{ t.name }}</td>
                        <td>{{ t.price }}</td>
                        <td>{{ t.deadline }}</td>
                        <td>{{ t.user }}</td>
                        <td><a href="{% url 'first_page:info' t.id %}" class="btn btn-default">توضیحات بیشتر</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="tasks-paginator">
                <ul class="pagination">
                    {% for i in page_list %}
                        {% if i != page %}
                            <li><a href="{% url 'first_page:show_page' i %}">{{i}}</a></li>
                        {% else %}
                            <li class="active"><a href="{% url 'first_page:show_page' i %}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <h3> ورود </h3>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="ایمیل">
                </div>
                <button class="btn btn-default btn-block">ورود</button>
            </form>
            <hr/>
            <h3>ثبت نام</h3>
            <form>
                <div class="form-group">
                    <input name="username" maxlength="100" class="form-control" placeholder="نام‌کاربری">
                </div>
                <div class="form-group">
                    <input name="email" class="form-control" placeholder="ایمیل" type="email">
                </div>
                <div class="form-group">
                    <input name="password" class="form-control" placeholder="رمزعبور" type="password">
                </div>
                <div class="form-group">
                    <input name="password_rpt" class="form-control" placeholder="تکرار رمز عبور" type="password">
                </div>
                <div class="form-group">
                    <label><input name="master" type="checkbox">کارفرما</label>
                </div>
                <button class="btn btn-default btn-block">ثبت نام</button>
            </form>
        </div>
    </div>
    <footer>
        <hr/>
        <span> درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
