<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>عنوان کار</th>
                    <th>ارزش کار</th>
                    <th>تخمین زمانی</th>
                    <th>صاحب کار</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="task_table">
                    {% for t in task %}
                        <tr>
                        <td>{{ t.name }}</td>
                        <td>{{ t.price }}</td>
                        <td>{{ t.deadline }}</td>
                        <td>{{ t.owner }}</td>
                        <td><a href="{% url 'first_page:info' t.id %}" class="btn btn-default">توضیحات بیشتر</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p style="text-align: center;"><button id="next_page" class="btn-default">بیشتر</button>
        </div>
        <div class="col-md-3">
            {% if not User.is_authenticated %}
            <h3> ورود </h3>
            <form action="{% url 'first_page:signin' %}" method="post">
            {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <input type="username" class="form-control" name="username" placeholder="نام کاربری">
                    </div>
                    <div>
                        <input type="password" class="form-control" name="password" placeholder="رمزعبور">
                    </div>
                </fieldset>
                <br>
                <input type="submit" value="ورود" class="btn btn-default btn-block">
                {% for error in page_error.signin_error_text %}
                    <p style="color: tomato;">*{{error}}</p>
                {% endfor %}
            </form>
            <hr/>
            <h3>ثبت نام</h3>
            <form action="{% url 'first_page:signup' %}" method="post">
            {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <input name="username" maxlength="100" class="form-control" placeholder="نام‌کاربری">
                    </div>
                    <div class="form-group">
                        <input name="email" class="form-control" placeholder="ایمیل" type="email">
                    </div>
                    <div class="form-group">
                        <input name="password" class="form-control" placeholder="رمزعبور" type="password">
                    </div>
                    <div class="form-group">
                        <input name="password_rpt" class="form-control" placeholder="تکرار رمز عبور" type="password">
                    </div>
                    <div class="form-group">
                        <label><input name="master" type="checkbox">کارفرما</label>
                    </div>
                </fieldset>
                <input type="submit" value="ثبت نام" class="btn btn-default btn-block">
                {% for error in page_error.signup_error_text %}
                    <p style="color: tomato;">*{{error}}</p>
                {% endfor %}
                {% for succes in page_error.signup_succes_text %}
                    <p style="color: green;">#{{succes}}</p>
                {% endfor %}
            </form>
            {% else %}
            <p>
                شما با نام کاربری {{User.username}} به عنوان {% if User.profile.is_master %} کارگذار {% else %} کارمند {% endif %} وارد سیستم شده اید
            </p>
            <p style="text-align: center;"><a href="{% url 'first_page:new_task' %}" class="btn btn-default">اضافه کردن کار</a></p>
            <p style="text-align: center;"><a href="{% url 'first_page:signout' %}" class="btn btn-default">خروج</a></p>
            {% endif %}
        </div>
    </div>
    <footer>
        <hr/>
        <span> درباه‌ی ما</span>
        <span>قوانین</span>
        {% if page_error.must_login_error %}
        <style>
            .alert {
              padding: 20px;
              background-color: #f44336;
              color: white;
            }

            .closebtn {
              margin-left: 15px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }

            .closebtn:hover {
              color: black;
            }
            </style>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            برای دسترسی به این بخش باید وارد اکانت خود شوید.
        </div> 
        {% endif %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var page = 2;
            $("#next_page").click(function(){
                $.get("load_more/"+page, 
                function(data, status){
                    data.forEach(function(t){
                        var html = `
                        <tr>
                            <td>${t.name}</td>
                            <td>${t.price}</td>
                            <td>${t.deadline}</td>
                            <td>${t.owner}</td>
                            <td><a href="{% url 'first_page:info' %}?id=${t.id}" class="btn btn-default">توضیحات بیشتر</a></td>
                        </tr>`
                        $("#task_table").append(html);
                    });
                    page = page+1;
                }, "json");
                if(page >= {{num_page}}){
                    var x = document.getElementById("next_page")
                    x.style.display = "none";
                }
            });
        });
    </script>

</div>
</body>
</html>
