<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_page/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <h3> افزودن کار جدید </h3>
                <form action="index.html" class="form-horizontal">
                {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <input name="title" class="form-control" maxlength="250">
                        </div>
                        <label class="control-label col-sm-2" for="title">عنوان</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <textarea name="description" class="form-control" cols="40" rows="10"></textarea>
                        </div>
                        <label class="control-label col-sm-2" for="title">توضیحات</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <input name="price" class="form-control" type="number">
                        </div>
                        <label class="control-label col-sm-2" for="title">قیمت</label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <input name="estimated_duration" class="form-control" type="date">
                        </div>
                        <label class="control-label col-sm-2" for="title">زمان تخمینی</label>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button type=submit method=post class="btn btn-default btn-block">افزودن کار</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <p>
                شما با نام کاربری {{User.username}} به عنوان {% if User.profile.is_master %} کارگذار {% else %} کارمند {% endif %} وارد سیستم شده اید
            </p>
            <p style="text-align: center;">
                <a class="btn btn-default btn-block" href="{% url 'first_page:show_page' %}">صفحه‌ی اصلی</a>
                <a href="{% url 'first_page:signout' %}" class="btn btn-default btn-block">خروج</a>
            </p>
        </div>
    </div>
    <footer>
        <hr/>
        <span> درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>